<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.terry.pigeon.mapper.FriendRecordsMapper">

    <resultMap id="BaseResultMap" type="com.terry.pigeon.entity.FriendRecords">
            <id property="recordsId" column="records_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="fId" column="f_id" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="information" column="information" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        records_id,user_id,f_id,
        status,created_at,information
    </sql>
</mapper>
